@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Common shared css */
*{
    margin: 0;
}

body{
    width: 1520px;
    font-family: "Manrope", sans-serif;
}